.container>article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 30px 0px 30px 0px;
}

.text-container {
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255, 249, 34), rgba(255, 0, 128), rgba(56, 2, 155, 0));
    border-image-slice: 1;
    width: 100%;
    padding-bottom: 30px;
}

.title-blog {
    margin-top: 1rem;
    font-family: 'Roboto_Bold';
    font-size: 22px;
    color: #5D2F78;
}

.blogs-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.blogs-image:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.anchor-text {
    text-decoration: none;
    color: #2B2B2B;
}

.anchor-text:hover {
    color: #2B2B2B;
}

.button-container>a>button {
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #c16a93;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-family: 'Roboto_Medium';
    font-size: 14px;
    letter-spacing: .3px;
}

.image-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}




.image-container>p {
    position: absolute;
    bottom: -16px;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    padding: 5px 15px;
    font-family: 'Roboto_Medium';
    font-size: 12px;
    /* border-bottom-right-radius: 30px; */
}

.blog-description {
    font-family: 'Roboto_Regular';
    font-size: 14px;
    letter-spacing: .3px;
}


@media screen and (max-width: 992px) {
    .container>article {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .container>article {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs-image {
        height: fit-content;
    }

    .image-container {
        height: fit-content;
    }
}

.blog-heading {
    font-family: 'Roboto_Bold';
    font-size: 32px;
    letter-spacing: .3px;
    text-align: center;
}

.blog-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}


@media screen and (max-width: 576px) {
    .blog-heading{
        font-size: 22px;
        white-space: nowrap;
    }

    .blog-headline>img{
        width: 90px;
    }
}



<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>MI Lifestyle - Blogs</title>

    <!-- External CSS Link -->
    <link rel="stylesheet" href="./Assets/CSS/style.css">
    <link rel="stylesheet" href="./Assets/CSS/blogs.css">
</head>

<body>
    <div class="container">
        <div class="blog-headline">
            <img src="./Assets/Images/Icons/border-design-2.png" alt="">&nbsp;&nbsp;
            <h1 class="blog-heading">OUR BLOGS</h1>&nbsp;&nbsp;
            <img src="./Assets/Images/Icons/border-design-1.png" alt="">
        </div>
        <article>
            <!-- Data Fetch using Handlebars -->
            <script id="some-template" type="text/x-handlebars-template">
                {{#users}} 
        <div class="containers">
            <a href="{{link}}" class="anchor-text">
                <div class="col" id="101">
                    <div class="image-container">
                        <img src="{{imgs}}" class="blogs-image" alt="">
                        <p>{{uploadDate}}</p>
                    </div>
                   <div class="text-container">
                    <h3 class="title-blog"><b>{{Title}}</b></h3>
                    <p class="blog-description">{{Desc}}</p>
                   <div class="button-container">
                    <a href="{{urls}}"><button>Read More</button></a>
                   </div>
                   </div>
                </div>
            </a>
        </div>
         {{/users}} 
      </script>
            <!-- Data Fetch using Handlebars -->

            <!-- script files  -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
                integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <!-- script files -->
            <script src="./Assets/JS/blogs-data.js"></script>
        </article>
    </div>

    <!-- footer component starts here -->
    <footer class="footer-wrapper">
        <div class="container">
            <div class="footer-grid-row">
                <div>
                    <h5>QUICK LINKS</h5>
                    <div class="links-footer">
                        <a href="">Opportunity</a>
                        <a href="">About MI</a>
                        <a href="">Login</a>
                        <a href="">Contact</a>
                        <a href="">Grievance Cell</a>
                        <a href="">FAQ</a>
                    </div>
                </div>
                <div>
                    <h5>TERMS & POLICIES</h5>
                    <div class="links-footer">
                        <a href="">Terms & Conditions</a>
                        <a href="">Website Disclaimer</a>
                        <a href="">Privacy Policy</a>
                        <a href="">Terms of use</a>
                        <a href="">Cancellation & Refund Policy</a>
                        <a href="">Disclaimer</a>
                        <a href="">Compliance</a>
                    </div>
                </div>
                <div>
                    <h5>MI PRODUCTS</h5>
                    <div class="links-footer">
                        <div class="mi-products-grid-row">
                            <div>
                                <img src="./Assets/Images/Icons/Personal_hover.png" alt="">
                                <p>Personal Care</p>
                            </div>
                            <div>
                                <img src="./Assets/Images/Icons/Agro_hover 1.png" alt="">
                                <p>Agro Care</p>
                            </div>
                            <div>
                                <img src="./Assets/Images/Icons/Grocery_hover 1.png" alt="">
                                <p>Grocery</p>
                            </div>
                            <div>
                                <img src="./Assets/Images/Icons/Health_hover 1.png" alt="">
                                <p>Health Care</p>
                            </div>
                            <div>
                                <img src="./Assets/Images/Icons/Nutrition_hover 1.png" alt="">
                                <p>Nutrition</p>
                            </div>
                            <div>
                                <img src="./Assets/Images/Icons/Body_care 1.png" alt="">
                                <p>Body Care</p>
                            </div>
                        </div>
                        <a href="" class="read-more-linking">Read More...</a>
                    </div>
                </div>
                <div>
                    <h5>DOWNLOAD OUR MOBILE APP</h5>
                    <div class="download-our-mobile-app">
                        <a href=""><img src="./Assets/Images/Icons/googleplay.png" alt=""></a>
                        <a href=""><img src="./Assets/Images/Icons/appstore.png" alt=""></a>
                    </div>
                    <div class="legal-rights">
                        <img src="./Assets/Images/Icons/legal2.png" alt="">
                        <img src="./Assets/Images/Icons/FDSA-LOGO.jpg" alt="">
                        <img src="./Assets/Images/Icons/QC.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright-stats">2023 &copy; Copyright | MI Lifestyle Marketing Global Private Limited</p>
    </footer>
    <!-- footer component ends here -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>